body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(0deg,
      rgba(black, 0.15),
      rgba(black, 0.15) 1px,
      transparent 1px,
      transparent 2px);
}

::selection {
  background: #0080FF;
  text-shadow: none;
}

pre {
  margin: 0;
}

#app {
  margin: 3rem;
}

.countdown {
  margin-bottom: 2.5rem;
}

.countdown:last-child {
  margin-bottom: 0;
}

.countdown h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 20px;
}

.countdown:first-child h2 {
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}


.counter {
  display: flex;
  width: 570px;
  margin: 0 auto;
  justify-content: center;
}

.counter div {
  position: relative;
  width: 60px;
  padding: 15px;
  margin: 0 5px;
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);

  border: 2px solid #000;
}

.counter div:last-child {
  background-color: #e91e1e;
}

.counter div:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .2);
}

.counter div span {
  display: block;
  text-align: center;
}

.counter div span:nth-child(1) {
  font-size: 32px;
  font-weight: 800;
}

.counter div span:nth-child(2) {
  font-size: 18px;
  font-weight: 800;
  margin-top: -10px;
}